
.doc-item-enter,
.doc-item-leave {
    overflow: hidden;
    transition: height .25s, opacity .25s;
}
.doc-item-enter {
    height: 0;
    opacity: 0;
}
.doc-item-enter.doc-item-enter-active {
    height: @hDocItem + @oDocItem * 2;
    opacity: 1;
}
.doc-item-leave {
    height: @hDocItem + @oDocItem * 2;
    opacity: 1;
}

.doc-item-leave.doc-item-leave-active {
    height: 0;
    opacity: 0;
}


.screen-enter,
.screen-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
    transition: transform .25s;
}

.screen-enter {
    z-index: 10;
    transform: translateX(100%);
}

.screen-enter.screen-enter-active {
    transform: translateX(0%);
}

.screen-leave {
    z-index: 1;
    transform: translateX(0%);
}

.screen-leave.screen-leave-active {
    transform: translateX(-33%);
}

.navigate-backward {
    .screen-enter {
        z-index: 1;
        transform: translateX(-33%);
    }
    .screen-enter.screen-enter-active {
        transform: translateX(0%);
    }

    .screen-leave {
        z-index: 10;
        transform: translateX(0%);
    }
    .screen-leave.screen-leave-active {
        transform: translateX(100%);
    }
}


.menu-enter,
.menu-leave {
    &,
    &:before {
        transition: transform .25s, opacity .25s;
    }
}

.menu-enter {
    transform: translateX(-100vw);
    &:before {
        opacity: 0.0;
        transform: translateX(100vw);
    }
}

.menu-enter.menu-enter-active {
    transform: translateX(0);
    &:before {
        opacity: 0.2;
        transform: translateX(0);
    }
}

.menu-leave {
    transform: translateX(0);
    &:before {
        opacity: 0.2;
        transform: translateX(0);
    }
}
.menu-leave.menu-leave-active {
    transform: translateX(-100vw);
    &:before {
        opacity: 0;
        transform: translateX(100vw);
    }
}
