@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/Lato-Light.woff2') format('woff2'),
         url('/static/fonts/Lato-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/Lato-Regular.woff2') format('woff2'),
         url('/static/fonts/Lato-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
