
@import (inline) "reset.css";

@import "variables.less";
@import "fonts.less";
@import "utils.less";

@import "blocks/btn.less";
@import "blocks/form.less";
@import "blocks/list.less";
@import "blocks/swipe.less";
@import "blocks/screen.less";
@import "blocks/header.less";
@import "blocks/menu.less";
@import "blocks/tabs.less";
@import "blocks/separator.less";
@import "blocks/doc.less";
@import "blocks/doc-item.less";
@import "blocks/start.less";
@import "blocks/d-warn.less";

@import "themes.less";
@import "animation.less";


path:not([fill]),
rect:not([fill]),
circle:not([fill]),
ellipse:not([fill]),
polygon:not([fill]),
polyline:not([fill]) {
    fill: currentColor;
    // stroke: currentColor;
}

body * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

svg {
  transform-origin: 0px 0px 0px;
}

.transition-disabled {
    transition: none !important;
}

.rouble15 {
    width: 10px;
    height: 10px;
    margin-left: 3px;
}

.rouble13 {
    width: 9px;
    height: 9px;
    margin-left: 2px;
}

.rouble11 {
    width: 8px;
    height: 8px;
    margin-left: 1px;
}
