// background: #017ce4;
// background: linear-gradient(to bottom, darken(#03A9F4, 10%) 0%, darken(#0D47A1, 10%) 100%);
// background: linear-gradient(to bottom, #C0CA33 0%, #558B2F 100%);
// background: linear-gradient(to bottom, #9CCC65 0%, #2E7D32 100%);
// background: linear-gradient(to bottom, #26C6DA 0%, #00796B 100%);
// background: linear-gradient(to bottom, #03A9F4 0%, #0D47A1 100%);
// background: linear-gradient(to bottom, #F4511E 0%, #C71C1C 100%);
// background: linear-gradient(to bottom, #D81B60 0%, #7B1FA2 100%);

body {
    background: #1f74bb;
}

.blue {
    &-theme_bg,
    & .theme_bg {
        background: #1f74bb;
        // background: average(#3e4ab0, #019dc5);
        // background: linear-gradient(135deg, #3e4ab0 0%, #019dc5 100%);
    }
}

.green {
    &-theme_bg,
    & .theme_bg {
        background: #64910e;
        // background: average(#417509, #86ad12);
        // background: linear-gradient(135deg, #417509 0%, #86ad12 100%);
    }
}

.red {
    &-theme_bg,
    & .theme_bg {
        background: #d3612d;
        // background: average(#c23929, #e48831);
        // background: linear-gradient(135deg, #c23929 0%, #daa70e 100%);
    }
}

.brown {
    &-theme_bg,
    & .theme_bg {
        background: #573647;
        // background: average(#43263a, #6a4654);
        // background: linear-gradient(135deg, #43263a 0%, #6a4654 100%);
    }
}

.grey {
    &-theme_bg,
    & .theme_bg {
        background: #3e4a63;
        // background: average(#2e3a52, #4d5973);
        // background: linear-gradient(135deg, #2e3a52 0%, #4d5973 100%);
    }
}

.dpurple {
    &-theme_bg,
    & .theme_bg {
        background: #483962;
        // background: average(#3a2b54, #564770);
        // background: linear-gradient(135deg, #3a2b54 0%, #564770 100%);
    }
}

.theme_bg {
    transition: background-color .25s;
}
