
.fontB(@size, @height: @size) {
    & {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: @size;
        line-height: @height;
    }
}

.fontR(@size, @height: @size) {
    & {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: @size;
        line-height: @height;
    }
}

.button() {
    & {
        border: none;
        padding: 0;
        margin: 0;
        background: none;

        &:focus {
            outline-style: none;
        }
    }
}
