
@fsXS: 12px;
@fsS: 13px;
@fsM: 15px;
@fsL: 18px;

@hHeaderBlock: 70px;
@hStatus: 20px;
@hHeader: 40px;
@hSubheader: 35px;
@hTabs: 30px;
@hSeparator: 20px;
@hDoc: 30px;
@hDocItem: 30px;
@hDocItemPayment: 26px;
@hFormInput: 42px;

@oHeaderX: 12px;
@oDocItem: 12px;
@oContentX: 12px;
@oTabsX: 8px;
@oSeparatorY: 12px;
