.d-warn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--block {
        position: relative;
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
        flex: 0 0 auto;
    }

    &--title {
        display: block;
        margin-top: 50px;
        .fontB(@fsL);
        color: #FFF;
    }

    &--message {
        .fontR(@fsM, @fsM+10px);
        margin-top: 20px;
        color: #FFF;

        span {
            display: block;

            &:last-child {
                margin-top: 20px;
            }
        }
    }

    &--logo {
        color: #FFF;
        flex: 0 0 100%;

        &-icon {
            height: 100px;
            width: 100px;
            opacity: 0.5;
        }
    }
}
