
@wItemMainIcon: 30px;
@wItemLevelOffset: 15px;

.doc-item {
    color: #FFF;
    & * {
        .fontR(@fsM, @hDocItem);
    }

    &--main,
    &--options,
    &--settings {
        max-width: 100%;
        padding: @oDocItem;
    }

    &--payment {
        padding: (@oDocItem - 3) @oDocItem;
    }

    &--content {
        display: flex;
        flex: 0 0 100%;
        white-space: nowrap;
    }

    &--l1,
    &--l2,
    &--l3 {
        width: 100%;
    }

    &--l2 {
        padding-left: @wItemLevelOffset;
    }

    &--l3 {
        padding-left: @wItemLevelOffset * 2;
        & * {
            font-size: @fsS;
        }
    }

    &--icon {
        display: block;
        flex-shrink: 0;
        width: @wItemMainIcon;
        margin: 0 auto;
        height: @hDocItem;
        color: #FFF;

        &_status {
            margin-left: -5px;
            margin-right: 5px;
            opacity: 0.3;
        }
    }

    &--title {
        flex: 1 1 100%;
        margin-right: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--money {
        flex: 0 0 auto;
        color: #FFF;
        margin-left: auto !important;

        &-icon {
            width: 10px;
            height: 10px;
        }
    }

    // &.done &--money,
    &.done &--title {
        color: rgba(255, 255, 255, 0.5);
    }

    &.done &--icon {
        opacity: 0.9;
    }

    &--options,
    &--settings {
        padding-left: 0;
        padding-right: 0;

        &-block {
            display: flex;
            flex: 0 0 100%;
            justify-content: flex-end;
        }

        &-item {
            display: block;
            width: 33%;
            height: @hDocItem;
            color: #FFF;
            text-align: center;
            box-sizing: border-box;
            border-left: 1px solid rgba(255, 255, 255, 0.2);

            &:nth-child(2) {
                width: 34%;
            }

            &:first-child {
                border-left: none;
            }
        }
    }

    &--options {
        justify-content: flex-end;

        &-item {
            width: 25%;
        }
    }

    &--add {
        display: flex;
        width: 100%;
        // margin: 0 0 0 20px;
        padding: 0 0 0 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 6px;
        box-sizing: border-box;

        &-input {
            .fontR(@fsM, @hDocItem);
            display: block;
            width: calc(~"100% - 32px");
            margin: 0;
            padding: 0;
            border: none;
            background: none;
            color: #FFF;
            &:focus {
                outline-style: none;
            }
            &::-webkit-input-placeholder {
                text-shadow: none;
                -webkit-text-fill-color: initial;
            }
        }

        &-icon {
            display: block;
            width: 30px;
            height: 30px;
            color: #FFF;
        }
    }

    &--remove-request {
        padding: 0 @oContentX;
        .fontR(@fsM, @hDocItem);
        color: #FFF;

        &-icon {
            width: 30px;
            height: 30px;
            margin-left: -5px;
            margin-right: 5px;
            opacity: 0.9;
        }

        &-title {
            margin-right: auto;
        }

        &-btn {
            & + & {
                margin-left: 10px;
            }
        }
    }

    &--btn {
        .button();
    }

    &--stub {
        padding: 0 @oContentX;

        &,
        &-btn {
            line-height: 0;
            font-size: 0;
        }

        &-btn {
            width: 100%;
        }

        &-title {
            line-height: @fsS;
            font-size: @fsS;
            color: #FFF;
            opacity: 0.5;
        }

        &-icon {
            height: (@hDocItem + @oSeparatorY * 2);
            color: #FFF;
            opacity: 0.3;
        }

        &_main {
            padding-top: 50px;
        }
    }

    &--payment {
        max-width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.2);

        & * {
            height: @hDocItemPayment;
            line-height: @hDocItemPayment;
        }

        &-icon {
            width: @hDocItemPayment;
            height: @hDocItemPayment;
            opacity: 0.9;

            &_main {
                flex: 0 0 auto;
                margin-left: -5px;
                margin-right: 5px;
            }
        }

        &-btn {
            flex: 0 0 auto;
            margin-left: 5px;
            color: #FFF;
        }

        &-title {
            flex: 1 1 100%;
            margin-left: 5px;
            margin-right: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-money {
            flex: 0 0 auto;
            margin-left: auto;
        }
    }

    &--payments &--l1 {
        padding-left: @oDocItem + @wItemMainIcon;
        & * { font-size: @fsS; }
    }

    &--payments &--l2 {
        padding-left: @oDocItem + @wItemMainIcon + @wItemLevelOffset;
        & * { font-size: @fsS; }

    }

    &--payments &--l3 {
        padding-left: @oDocItem + @wItemMainIcon + @wItemLevelOffset * 2;
        & * { font-size: @fsXS; }
    }
}
