
.doc {
    display: flex;
    padding: @oSeparatorY @oContentX;
    color: #FFF;

    &--dates,
    &--income {
        display: block;
        .fontR(@fsM, @hDoc);
    }

    &--desc {
        display: block;
        .fontR(@fsS, @fsS);
        color: rgba(255, 255, 255, 0.75);
    }

    &--info_withdesc &--dates {
        line-height: @fsM;
        margin: 2px 0 3px;
    }

    &--income {
        margin-left: auto;
        white-space: nowrap;
        color: rgba(255, 255, 255, 0.75);
    }

    &--dates {
        margin-right: 5px;
    }

    &--calendar {
        display: block;
    }

    &--calendar-icon {
        width: 30px;
        height: 30px;
        margin-left: -6px;
        margin-right: 5px;
        color: #FFF;
    }

    &--next-icon {
        color: #FFF;
        width: 30px;
        height: 30px;
        margin-right: -6px;
        margin-left: auto;
    }
}
