
.form {

    &--item {
        padding: @oSeparatorY @oContentX 0;
    }

    &--input {
        .button();
        .fontR(@fsM, @hFormInput);
        position: relative;
        display: block;
        width: 100%;
        height: @hFormInput;
        padding: 0 10px;
        border: 1px solid rgba(255, 255, 255, 0);
        border-radius: 100px;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.25);
        text-align: center;
        color: #FFF;
        box-sizing: border-box;

        &.focus,
        &:focus {
            border: 1px solid rgba(255, 255, 255, 0.75);
        }

        &_hidden {
            -webkit-appearance: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            border: none;
            opacity: 0;
        }
    }

    &--button {
        .button();
        .fontR(@fsM, @hFormInput);
        display: block;
        width: 100%;
        border-radius: 100px;
        box-sizing: border-box;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.75);
        color: #FFF;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;
    }
}
