
.header {
    padding: 24px 6px 5px;
    border-bottom: 1px solid rgba(255,255,255,.15);

    &--block {
        position: relative;
    }

    &--next,
    &--back {
        position: absolute;
        top: 0;
        display: block;
        .button();
        .fontR(@fsL, 0);
        color: #FFF;
        white-space: nowrap;

        &,
        &-icon {
            width: 30px;
            height: @hHeader;
        }

        &-icon,
        &-title {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &--next {
        right: 0;
    }
    &--back {
        left: 0;
    }


    &--title {
        height: @hHeader;
        margin: 0;
        text-align: center;
        color: #FFF;
        .fontR(@fsL, @hHeader);
    }

    &--logo {
        display: flex;
        margin: 0 auto;
        width: 85px;
        color: #FFF;

        &-title {
            text-transform: uppercase;
            margin-left: 5px;

            b,
            span {
                .fontR(11px, @hHeader/2.7);
                display: block;
                font-weight: 300;
            }
            span {
                margin: 3px 0 2px;
            }

            b {
                font-size: 16px;
            }
        }

        &-icon {
            width: @hHeader - 2;
            height: @hHeader - 2;
        }
    }
}

.subheader {
    .fontR(@fsM, @hSubheader);
    text-align: center;
    color: #FFF;
    // border-top: 1px solid rgba(255, 255, 255, 0.2);
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
