
.list {
    &--item {
        width: 100%;
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        &:last-child {
          border-bottom: none;
        }
    }
}
