
.menu {

    &:before {
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        background: #000;
        opacity: 0.2;
        z-index: 9;
    }

    &,
    &--screen {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 80vw;
        z-index: 10;
    }

    &--header {
        border-bottom: 1px solid rgba(255,255,255,.15);
    }

    &--close {
        .button();
        display: inline-block;
        color: #FFF;

        &-icon {
            width: 30px;
            height: 30px;
        }
    }

    &--section {
        margin: 20px @oContentX 0;

        &-title {
            height: @hSeparator;
            margin: 0;
            text-align: left;
            color: #FFF;
            .fontR(@fsM, @hSeparator);
        }
    }

    &--themes {
        display: flex;
        flex-wrap: wrap;

        &-item {
            .button();
            display: block;
            margin-top: @oContentX;
            margin-right: @oContentX;
            overflow: hidden;
            border-radius: 5px;
            overflow: hidden;
            border: 2px solid rgba(255, 255, 255, 0.5);

            &.active {
                border-color: rgba(255, 255, 255, 0.8);
            }
        }

        &-preview {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 3px;
        }
    }

    &--sync {
        margin-top: @oContentX;

        &-btn {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            height: @hDocItem;
            line-height: @hDocItem;
            color: #FFF;
            .fontR(@fsS, @hDocItem);

            &-icon {
                margin-left: auto;
                width: 22px;
                height: @hDocItem;
                color: #FFF;
                opacity: 0.6;
            }

            &-icon_big {
                width: (@hDocItem + @oSeparatorY);
                height: (@hDocItem + @oSeparatorY);
                margin: 0 auto;
                color: #FFF;
                opacity: 0.3;
            }
        }

        &-confirm {
            display: flex;
            width: 100%;
            padding: 0 0 0 10px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 6px;
            box-sizing: border-box;

            &-input {
                .fontR(@fsM, @hDocItem);
                display: block;
                width: calc(~"100% - 32px");
                margin: 0;
                padding: 0;
                border: none;
                background: none;
                color: #FFF;
                &:focus {
                    outline-style: none;
                }
                &::-webkit-input-placeholder {
                    text-shadow: none;
                    -webkit-text-fill-color: initial;
                }
            }

            &-icon {
                display: block;
                width: 30px;
                height: 30px;
                color: #FFF;
            }
        }
    }
}

.menu .header {
    padding-left: @oContentX;
    padding-right: @oContentX;

    .header--title {
        text-align: left;
    }
}
