@headerOffset: 50px;

.screen {
    min-height: 100vh;

    &--menu {

    }

    &--header {
        position: fixed;
        top: -@headerOffset;
        left: 0;
        width: 100%;
        height: @hHeaderBlock + @headerOffset;
        padding-top: @headerOffset;
        overflow: hidden;
        z-index: 1;

        // &-block {
        //     padding: 20px 0 @oHeaderX;
        // }
    }

    &--content {
        display: block;
        padding-top: @hHeaderBlock;
    }
}
