
.separator,
.separator-big,
.separator-center {
    .fontR(@fsS, @hSeparator);
    display: block;
    height: @hSeparator;
    padding: 0 @oContentX;
    // margin: @oSeparatorY 0 0;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(255,255,255,.15);
    text-transform: uppercase;
    color: #FFF;
}

.separator-center {
    text-align: center;
}

.separator-big {
    display: flex;
    .fontR(@fsM, 30px);
    height: 30px;

    .separator {
        &--title {
            text-transform: none;
        }

        &--plus {
            padding: 5px 10px;
            margin-left: auto;
            margin-top: -5px;
            margin-bottom: -5px;

            &-icon {
                width: 19px;
                height: 30px;
            }
        }

        &--info {
        }
    }
}
