
.start {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // height: 100vh;
    display: flex;

    &--block {
        position: relative;
        padding: 20px;
        margin: 20px 0;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 6px;
        text-align: center;
        flex: 0 0 auto;
    }

    &--title {
        display: block;
        .fontB(@fsL);
        color: #FFF;
    }

    &--message {
        .fontR(@fsM, @fsM+10px);
        margin-top: 20px;
        color: #FFF;

        &-icon_share {
            width: @fsM+10px;
            height: @fsM+10px;
            vertical-align: middle;
        }

        &-icon_more {
            width: @fsM+10px;
            height: @fsM+10px;
            vertical-align: middle;
            margin: 0 -3px;
            transform: rotate(90deg);
            transform-origin: 50% 50%;
        }


        span {
            display: block;
        }
    }

    &--logo {
        display: flex;
        align-items: center;
        flex: 1 1 100%;

        &-icon {
            height: 100px;
            width: 100px;
            opacity: 0.5;
        }
    }
}

.start_ios,
.start_android {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_ios {
    & .start--block {
        &:after {
            content: '';
            position: absolute;
            bottom: -11px;
            left: 50%;
            margin-left: -10px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid rgba(255, 255, 255, 0.5);
        }
    }
}

.start_android {
    & .start--block {
        border-top-right-radius: 0;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-top: 20px solid rgba(255, 255, 255, 0.5);
        }
    }

}
