

.swipe {
    width: 100%;
    overflow: hidden;

    &--block {
        display: flex;
        flex: 0 0 200%;
        transition: transform 0.25s ease-out;
    }

    &--item {
        display: flex;
        flex: 0 0 100%;
        transition: transform 0.25s ease-out;

        &.gesture-enabled {
            transition: none;
        }
    }
}
