
@hTabsItem: @hTabs - 2;

.tabs {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    height: @hTabs;
    margin: 10px @oTabsX @oSeparatorY;
    border-radius: (@hTabs / 2);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);

    &--item {
        .button();
        .fontR(@fsM, @hTabsItem);
        flex-basis: 100%;
        background: rgba(0, 0, 0, 0.3);
        color: rgba(255, 255, 255, 0.5);
    }

    &--item.active {
        background: none;
        position: relative;
        overflow: hidden;
        color: #FFF;

        // &:after,
        // &:before {
        //     content: '';
        //     position: absolute;
        //     display: block;
        //     height: @hTabsItem;
        //     width: @hTabsItem;
        //     margin-top: (@hTabsItem * -1.5);
        //     top: 50%;
        //     border: 0 solid rgba(0, 0, 0, 0.3);
        // }
        // &:before {
        //     left: -@hTabsItem;
        //     border-width: @hTabsItem 0 @hTabsItem @hTabsItem;
        //     border-radius: (@hTabsItem * 10) 0 0 (@hTabsItem * 10);
        // }
        //
        // &:after {
        //     right: -@hTabsItem;
        //     border-width: @hTabsItem @hTabsItem @hTabsItem 0;
        //     border-radius: 0 (@hTabsItem * 10) (@hTabsItem * 10) 0;
        // }
    }
}
